h3 {
    visibility: hidden;
}

.jump{
    cursor: url("images/jump.png"), auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: none;
    animation-fill-mode: none;
}
.jumpAnimation{
    animation: jumpped 2s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.47,1.34,1,-0.49);
    animation-direction:alternate;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
    flex-direction: column;
    /* background-color: #000; */
}
@keyframes jumpped {
0% {
    /* scale:1; */
    /* display: none; */
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 1); */
    transform: scale(1) rotate(0deg);
}
25% {
    /* scale:1.5; */
    /* display: none; */
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
}
50% {
    /* scale:2; */
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 1); */
}
75% {
    /* scale:2.5; */
        /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); */
}
100% {
    transform: scale(25) rotate(1080deg);
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0); */
}
}

img {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    font-weight: bold;
    position: relative;
    animation: mymove 3s;
    animation-fill-mode: forwards;
  }
  
  #img1 {animation-timing-function: linear;}
  #img2 {animation-timing-function: ease;}
  #img3 {animation-timing-function: ease-in;}
  #img4 {animation-timing-function: ease-out;}
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 93vw;}
  }