body, html {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cent {
    /* Fills up the rest of the page */
    flex: 1;
}

