.queen {
    width: 300px;
    /* height: auto; */
}

.king {
    width: 300px;
    /* height: auto; */
}

.question {
    margin-top: 30px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options {
    display: flex;
    justify-content: center;
    zoom: 20;
}